body {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}
h1 {
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 20px;
  color:rgb(129, 129, 129);
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #333;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
ul {
    list-style: none;
}
header {
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
footer{
    text-align: center;
    background: #f2f2f2;
    padding: 40px 0;
    margin-top: 50px;
}
.logo{
    height: 30px;
    width: 30px;
    color: #eee;
}
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.columnas{
    display: flex;
    flex-direction: column;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #333;
}
.btn-ligth{
    padding: 6px 14px;
    border: 1px solid #333;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
.btn-dark{
    background: #333;
    color: #fff;
    padding: 6px 14px;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
}
.aromaterapia{
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
.aromaterapia-text{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.aromaterapia img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.fragancias{
    background: #f7f7f7;
    padding: 40px 0;
}
.fragancias-fila{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.fragancias-fila img {
    width: 70px;
}
.fragancias-fila p{
    color: #333;
}
.beneficios{
    padding: 60px 0;
}
.beneficio{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.beneficio img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.iconos{
    background: #f7f7f7;
    padding: 50px 0;
}
.iconos-grupo{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}
.icono{
    text-align: center;
}
.icono i{
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
}
.form input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.form textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.redes a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 22px;
}
.legales{
    margin-top: 20px;
    font-size: 14px;
    color:#666;
}
.blog-card{
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

}
.blog-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.catalogo-grid{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    gap: 30px;
}
.producto{
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding-bottom: 20px;
    text-align: center;
}
.producto img{
    width: 200px;
    height: 220px;
    object-fit: cover;
}
.precio{
    margin: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}