@use "utilities/variables" as *;
@use "utilities/mixins" as *;

@use "base/reset" as *;
@use "base/tipografia" as *;

@use "components/forms" as *;
@use "components/buttons" as *;
@use "components/cards" as *;
@use "components/icons" as *;

@use "layouts/footer" as *;
@use "layouts/header" as *;
@use "layouts/sections" as *;
