@use "../utilities/variables" as v;
@use "sass:color";

.btn {
  border-radius: v.$border-radius-sm;
  transition: all .2s ease;

  &:hover {
    transform: translateY(-1px);
  }
}

.btn-outline-dark {
  border-width: 1px;
}

.btn-custom {
  @extend .btn;
  background-color: v.$dark;
  color: #fff;

  &:hover {
    background-color: color.adjust(v.$dark, $lightness: 10%);
  }
}
