@use "../utilities/mixins" as *;

.blog-card,
.producto{
    @include card-base;
    text-align: center;
}

.blog-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.producto img {
    width: 200px;
    height: 220px;
    object-fit: cover;
}

.precio {
    font-size: 1.875rem;
    font-weight: bold;
    margin: 1rem 0;
}