@use "../utilities/variables" as *;

.form-control{
    border-radius: $border-radius-sm;

    &:focus{
        box-shadow: none;
        border-color: $dark;
    }
}

.form-contacto{
    max-width: 450px;
}