.modal-content {
  border-radius: 1rem;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: 600;
}

.modal-body {
  line-height: 1.6;

  p {
    margin-bottom: 1rem;
  }
}

.modal-footer {
  border-top: none;
}