@use "../utilities/variables" as *;

h1{font-size: 2.5rem; text-align: center;}
h2{font-size: 1.25rem; color: $secondary;}
h3{font-size: 1.875rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.2rem;}
h6{font-size: 1rem;}